<!--Se crea un formulario, se indica el componente creado anteriormente y la función
a ejecutar al dar submit-->
<div class="formularioRegistro">
  <h2>Crear Persona</h2>
  <form [formGroup]="personaForm" (ngSubmit)="guardar()">

    <div class="mb-3">
      <label>Nombre:</label>
      <input type="text" formControlName="nombre" class="form-control">
    </div>

    <div class="mb-3">
      <label>Apellido:</label>
      <input type="text" formControlName="apellido" class="form-control">
    </div>

    <div class="mb-3">
      <label>Edad:</label>
      <input type="number" formControlName="edad" class="form-control">
    </div>

    <div class="mb-3">
      <label>Correo:</label>
      <input type="email" formControlName="correo" class="form-control">
    </div>

    <div class="mb-3">
      <label>Pais:</label>
      <select class="form control form-select" name="pais" id="pais" formControlName="pais">
        <option [ngValue]="item" *ngFor="let item of paises">{{item.nombre}}</option>
      </select>
    </div>

    <div class="mb-3">
      <label>Estado o región:</label>
      <select class="form control form-select" name="estado" id="estado" formControlName="estado">
        <option [ngValue]="item" *ngFor="let item of estados">{{item.nombre}}</option>
      </select>
    </div>
    <!-- El botón de guardar se activa una vez se establezcan todos los datos del formulario-->
    <button type="submit" class="btn btn-primary mt-2" [disabled]="personaForm.invalid">Guardar</button>
  </form>
</div>

<!-- Se muestra la información de las personas registradas-->
<div class="formularioRegistro">
  <h2>Personas registradas</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>Correo</th>
        <th>Estado</th>
        <th>Pais</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of personas">
        <td>{{item.id}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.apellido}}</td>
        <td>{{item.edad}}</td>
        <td>{{item.correo}}</td>
        <td>{{item.estado.nombre}}</td>
        <td>{{item.estado.pais.nombre}}</td>
        <td>
          <button type="button" class="btn btn-success" (click)="editar(item)">Editar</button>
          <button type="button" class="btn btn-danger" (click)="eliminar(item)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<router-outlet></router-outlet>